Instalar pandas

In [1]:
#!pip install pandas

Limpiando data

In [2]:
import pandas as pd

df_data_historica = pd.read_csv(r'C:\Users\doga1\desarrollo\python\practicas\bases_datos\pandas\Predicting Winner FIFA World Cup 2022\fifa_worldcup_matches.csv')
df_fixture = pd.read_csv(r'C:\Users\doga1\desarrollo\python\practicas\bases_datos\pandas\Predicting Winner FIFA World Cup 2022\fifa_worldcup_fixture.csv')
df_data_faltante = pd.read_csv(r'C:\Users\doga1\desarrollo\python\practicas\bases_datos\pandas\Predicting Winner FIFA World Cup 2022\fifa_worldcup_missing_data.csv')

Limpiando df_fixture

In [3]:
df_fixture['home'] = df_fixture['home'].str.strip() #str es un atributo para manipular strings y strip es un metodo que se usa para eliminar espacios en blancos
df_fixture['away'] = df_fixture['away'].str.strip()

Limpiando df_missing_data y agregandolo a df_histoical_data

In [4]:
#df_data_faltante[df_data_faltante['home'].isnull()]
df_data_faltante.dropna(inplace=True)

In [5]:
df_data_historica = pd.concat([df_data_faltante, df_data_historica], ignore_index=True) #con ignore_index resetea el index para que empiece desde 0
df_data_historica.drop_duplicates(inplace=True)
df_data_historica.sort_values('year', inplace=True)
df_data_historica

               home score            away  year
450     Yugoslavia    2–1          Brazil  1930
460        Uruguay    6–1      Yugoslavia  1930
459      Argentina    6–1   United States  1930
458       Paraguay    1–0         Belgium  1930
457  United States    3–0        Paraguay  1930
..              ...   ...             ...   ...
863         Brazil    2–0      Costa Rica  2018
864         Serbia    1–2     Switzerland  2018
865         Serbia    0–2          Brazil  2018
867        Germany    0–1          Mexico  2018
900         France    4–2         Croatia  2018

[901 rows x 4 columns]

In [6]:
df_data_faltante[df_data_faltante['home'].isnull()]

Empty DataFrame
Columns: [home, score, away, year]
Index: []

Limpiando df_historical_data

In [7]:
index_eliminar = df_data_historica[df_data_historica['home'].str.contains('Sweden') & df_data_historica['away'].str.contains('Austria')].index

In [8]:
df_data_historica.drop(index = index_eliminar, inplace=True)

In [9]:
df_data_historica[df_data_historica['home'].str.contains('Sweden') & df_data_historica['away'].str.contains('Austria')]

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [10]:
#df_data_historica[df_data_historica['score'].str.contains('[^\d-]')]
#df_data_historica['score'] = df_data_historica['score'].str.replace('[^\d-]', '', regex = True)
#df_data_historica

In [11]:
df_data_historica[df_data_historica['score'].str.contains('[^\d-]')]
df_data_historica

               home score            away  year
450     Yugoslavia    2–1          Brazil  1930
460        Uruguay    6–1      Yugoslavia  1930
459      Argentina    6–1   United States  1930
458       Paraguay    1–0         Belgium  1930
457  United States    3–0        Paraguay  1930
..              ...   ...             ...   ...
863         Brazil    2–0      Costa Rica  2018
864         Serbia    1–2     Switzerland  2018
865         Serbia    0–2          Brazil  2018
867        Germany    0–1          Mexico  2018
900         France    4–2         Croatia  2018

[900 rows x 4 columns]

In [12]:
df_data_historica['home'] = df_data_historica['home'].str.strip() #str es un atributo para manipular strings y strip es un metodo que se usa para eliminar espacios en blancos
df_data_historica['away'] = df_data_historica['away'].str.strip()

In [13]:
df_data_historica[['HomeGoals', 'AwayGoals']] = df_data_historica['score'].str.split('–', expand= True)

In [14]:
df_data_historica.drop('score', axis=1, inplace=True)

In [15]:
df_data_historica.rename(columns={'home':'HomeTeam', 'away': 'AwayTeam', 'year': 'Year'}, inplace=True)
df_data_historica

          HomeTeam       AwayTeam  Year HomeGoals AwayGoals
450     Yugoslavia         Brazil  1930         2         1
460        Uruguay     Yugoslavia  1930         6         1
459      Argentina  United States  1930         6         1
458       Paraguay        Belgium  1930         1         0
457  United States       Paraguay  1930         3         0
..             ...            ...   ...       ...       ...
863         Brazil     Costa Rica  2018         2         0
864         Serbia    Switzerland  2018         1         2
865         Serbia         Brazil  2018         0         2
867        Germany         Mexico  2018         0         1
900         France        Croatia  2018         4         2

[900 rows x 5 columns]

In [19]:
df_data_historica[df_data_historica['AwayGoals'].str.contains('[^\d-]')]
df_data_historica['AwayGoals'] = df_data_historica['AwayGoals'].str.replace('[^\d-]', '', regex = True)

In [20]:
df_data_historica.dtypes

HomeTeam     object
AwayTeam     object
Year          int64
HomeGoals    object
AwayGoals    object
dtype: object

In [21]:
df_data_historica = df_data_historica.astype({'HomeGoals': int, 'AwayGoals': int, 'Year': int})

In [22]:
df_data_historica.dtypes

HomeTeam     object
AwayTeam     object
Year          int32
HomeGoals     int32
AwayGoals     int32
dtype: object

In [24]:
df_data_historica['TotalGoals'] = df_data_historica['HomeGoals'] + df_data_historica['AwayGoals']

In [27]:
df_data_historica['Year']

450    1930
460    1930
459    1930
458    1930
457    1930
       ...
863    2018
864    2018
865    2018
867    2018
900    2018
Name: Year, Length: 900, dtype: int32

Exportar dataframes limpios

In [26]:
df_data_historica.to_csv('clean_fifa_worldcup_matches.csv', index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv', index=False)

In [28]:
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006,2010, 2014, 2018]

for year in years:
    print(year, len(df_data_historica[df_data_historica['Year'] == year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64

SyntaxError: invalid syntax (3827820173.py, line 1)