In [33]:
import pandas as pd

In [34]:
archivo_movie = r'C:\Users\doga1\Downloads\datasets\arwu-iberoamerica.csv'
#df = pd.read_csv(archivo_movie, delim_whitespace=True)
df = pd.read_csv(archivo_movie, delimiter=',')

In [35]:
df.head(5)

,Posición\niberoamericana,Posición\nglobal,Universidad,País
0,1,101-150,Universidad de São Paulo,Brasil Brasil
1,2=,151-200,Universidad de Barcelona,España España
2,2=,151-200,Universidad de Lisboa,Portugal
3,4=,201-300,Universidad Autónoma de Barcelona,España España
4,4=,201-300,Universidad de Buenos Aires,Argentina

In [36]:
df.isnull().sum()

Posición\niberoamericana    0
Posición\nglobal            0
Universidad                 0
País                        0
dtype: int64

In [37]:
num_filas, num_columns = df.shape

In [38]:
print(f'Número de filas: {num_filas}')
print(f'Número de columnas: {num_columns}')

Número de filas: 78
Número de columnas: 4

In [39]:
celdas_vacias = df.isna()

In [40]:
celdas_vacias_pos = [(i,j) for i in range(len(df)) for j in range(len(df.columns)) if celdas_vacias.iloc[i,j]]

In [41]:
print('Celdas vacias: ')
for pos in celdas_vacias_pos:
    print(f'Fila {pos[0]+1}, columna {pos[1]+1}')

Celdas vacias:

In [42]:
count_pais = df['País'].value_counts()
print(count_pais)

España España            40
Brasil Brasil            22
Portugal                  6
Chile Chile               4
México México             2
Argentina                 1
Colombia Colombia         1
Costa Rica Costa Rica     1
Uruguay Uruguay           1
Name: País, dtype: int64

In [43]:
total_universidad_pais = count_pais.sum()
print(total_universidad_pais)

78

In [44]:
# Calcular el porcentaje de cada país sobre el total
procentaje = (count_pais / total_universidad_pais) *100
# Redondear los porcentajes a 0 decimales y agregar el signo de porcentaje
procentaje = procentaje.round(0).map('{:.0f}%'.format)
print(procentaje)

España España            51%
Brasil Brasil            28%
Portugal                  8%
Chile Chile               5%
México México             3%
Argentina                 1%
Colombia Colombia         1%
Costa Rica Costa Rica     1%
Uruguay Uruguay           1%
Name: País, dtype: object